* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --header-background: #F9F9F9;
  --footer-background: #F9F9F9;
  --btn-orange: #F59E0B;
  --btn-blue: #2563EB;
  --text: #111827;
  --divider-color: #bab9b9;
}

@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('font/Inter_24pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #A7D8F8, #E6F4FA) no-repeat;
  background-size: cover;
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
}

p {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

label {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }
}

/* HERO SECTION */

.cerchio {
  position: absolute;
  top: -100px;
  left: -200px;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #E6F4FA, #A7D8F8);
  border-radius: 50%;
  z-index: -1;
}

.hero-text {
  padding: 40px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-tagline {
  font-size: 0.75em;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 26px 0;
}

.hero-btn-1 {
  background-color: #2563EB;
  padding: 18px 15px;
  border-radius: 16px;
  color: white;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.hero-btn-1:hover {
  background-color: #1D4ED8;
}

.hero-btn-1:active {
  background-color: #1E40AF;
}

.hero-btn-2,
.submit-btn {
  background-color: #F59E0B;
  padding: 18px 15px;
  border-radius: 16px;
  color: white;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.hero-btn-2:hover {
  background-color: #e69306;
}

.hero-btn-2:active {
  background-color: #ED920A;
}

@media (min-width: 768px) {
  .hero {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
  }
}

/* END HERO SECTION */

/* START FILTER SECTION */

.filter-select {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.filter-select select {
  width: 200px;
  padding: 10px 30px;
  text-align: center;
  outline: none;
  color: var(--btn-orange);
  border: 2px solid var(--btn-orange);
  border-radius: 16px;
}

.tool-item[hidden] {
  display: none !important;
}

.filter-btn.is-active:first-of-type {
  outline: 1px solid #fff;
  transition: filter 0.3s ease;
  filter: brightness(0.9);
}

.filter-btn.is-active {
  outline: 1px solid #fff;
  transition: filter 0.3s ease;
  filter: brightness(0.9);
}

.btn-filters {
  display: none;
}

@media (min-width: 768px) {
  .filter-select {
    display: none;
  }

  .btn-filters {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    gap: 1rem;
  }

  .filter-btn {
    background-color: var(--btn-orange);
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .blue-btn {
    background-color: var(--btn-blue);
  }
}

@media (min-width: 1024px) {

  .btn-filters {
    gap: 2rem;
  }
}

/* END FILTER SECTION */

/* START TOOL SECTION */

.tools-section {
  padding-bottom: 50px;
}

.tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 50px;
}

.tool-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 85%;
  max-width: 375px;
  border-radius: 1rem;
  padding: 25px 20px;
  gap: 1rem;
}

.tool-btn {
  background-color: var(--btn-blue);
  width: 125px;
  color: white;
  padding: 10px 25px;
  border-radius: 16px;
  text-align: center;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .tools-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    padding: 0 20px;
  }

  .tool-item {
    width: 300px;
    min-height: 335px;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .tools-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }

  .tool-item {
    width: 95%;
  }

}

/* END TOOL SECTION */

/* DIVIDER */

.divider {
  height: 1px;
  background-color: var(--divider-color);
  margin: 0 auto 50px;
  width: 85%;
}

/* END DIVIDER */

/* START CONTACT SECTION */

.contact {
  padding-bottom: 50px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto 40px;
  gap: 1em;
}

.contact-text p:last-child {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 200;
}

.contact-text a,
form a {
  color: var(--btn-blue)
}

.contact-form {
  background-color: var(--header-background);
  padding: 40px 0;
  border-radius: 2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

form input,
form textarea {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: var(--btn-blue);
  outline: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: var(--btn-blue) !important;
  font-size: 0.75em;
  opacity: 0.5;
  font-family: 'Poppins';
}

.privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.privacy-policy input[type="checkbox"] {
  margin-right: 2em;
  width: 25px;
}

.submit-btn {
  border: none;
  font-weight: 600;
  font-size: 1em;
}

.form-img img {
  display: none;
}

@media (min-width: 768px) {
  .contact-form {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .form-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    gap: 16px;
  }

  .form-img img {
    display: block;
    width: 43%;
    height: auto;
  }

  .contact-form {
    width: 57%;
    margin: 0 auto;
  }
}

/* END CONTACT SECTION */

/* START ABOUT US SECTION */

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2.5em;
}

.about-logo {
  width: 250px;
  height: 125px;
}

.about-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.about-group img {
  width: 250px;
  height: auto;
}

.ending-cta {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}

@media (min-width: 768px) {
  .about-group {
    flex-direction: row !important;
  }
}

/* END ABOUT US SECTION */

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}